*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(107, 119, 224);
  color: rgb(82, 61, 196);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-section, .register-section{
  width: 90vw;
  background-color: white;
  padding: 2rem 2rem;
  margin: auto;
  margin-top: -10rem;
  min-height: 300px;
  border-radius: .3rem;
}

.login-heading{
  margin: 1rem;
}

.login-form{
  margin: 1rem;
}

.form-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.submit{
  margin-top: 1rem;
  background-color: rgb(82, 61, 196);
  color: white;
  height: 2rem;
  width: 50%;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

input{
  height: 2rem;
}

