{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true,
        "useESModules": false
      }
    ]
  ],
  "ignore": [
    "./node_modules",
    "./seeders",
    "structure",
    "todo",
    "unresolved",
    "notes.txt"
  ]
}
