<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet" />
</head>

<body style="margin: 0; padding: 0; font-family: 'Poppins', sans-serif">
  <table border="0" style="max-width: 70%; height: 90vh; border: 1px solid #333; margin: auto">
    <tbody>
      <tr align="center">
        <td cellpadding="0" valign="bottom">
          <br /><br />
          <img src="https://markus-dev.herokuapp.com/welcome.jpg" alt="image" />
          <br />
          <img src="https://markus-dev.herokuapp.com/happy_people.jpg" alt="image" />
        </td>
      </tr>
      <tr>
        <td width="100%" style="padding: 0">
          <table width="100%" cellpadding="0" border="0">
            <thead>
              <th></th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td width="15%"></td>
                <td width="70%"><b>Hey {{name}},</b></td>
                <td width="15%"></td>
              </tr>
              <tr>
                <td width="15%"></td>
                <td width="70%">
                  <p style="
                        font-weight: lighter;
                        font-size: 0.85em;
                        color: #666;
                        margin-top: 0;
                      ">
                    Wowwee! We're excited to have you on Marcus. First, you
                    need to confirm your account. <br />
                    To get started copy the 6 digit code below
                  </p>
                  <h1 style="
                        margin-top: 0;
                        margin-bottom: 0;
                        font-weight: 700;
                        color: #444;
                        letter-spacing: 15px;
                      ">
                    {{code}}
                  </h1>
                  <p style="
                        font-weight: lighter;
                        color: #555;
                        font-size: 0.85em;
                        margin-top: 0;
                      ">
                    and paste on your verification page.
                  </p>
                  <p style="
                        font-weight: lighter;
                        color: #666;
                        font-size: 0.85em;
                        margin-top: 0;
                      "></p>
                  <p style="
                        font-weight: lighter;
                        color: #666;
                        font-size: 0.85em;
                        margin-top: 0;
                      ">
                    &nbsp;&nbsp;&nbsp;&nbsp; Questions about setting up
                    <a href="https://google.com" target="_blank" style="text-decoration: none; color: #15a0dd">Markus
                      ?</a>
                    Email us at help@markus.com
                  </p>
                  <p style="
                        font-weight: lighter;
                        color: #666;
                        font-size: 0.7em;
                        margin-top: 0;
                      ">
                    If you didn’t request this email, there’s nothing to worry
                    about,you can safely ignore it.
                  </p>
                </td>
                <td width="15%"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</body>

</html>