<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet" />

<body style="
      border: 1px solid #333;
      width: 99%;
      height: 99.5vh;
      margin: auto;
      overflow: hidden;
      padding: 0;
      font-family: 'Poppins', sans-serif;
    ">
  <main style="margin: auto; padding: 5% 2%">
    <div style="
          width: 80%;
          margin: auto;
          display: flex;
          flex-flow: column;
          justify-content: center;
        ">
      <br />
      <div style="text-align: center; overflow: hidden">
        <img src="http://localhost:8000/welcome.jpg" alt="" /> <br />
        <img src="http://localhost:8000/happy_people.jpg" alt="" />
      </div>
      <p><b>Hey {{title}} {{fullName}}, </b></p>
      <p style="font-weight: lighter; color: #666; margin-top: 0">
        Wowwee! We're excited to have you on Marcus. First, you need to
        confirm your account. <br />
        To get started copy the 6 digit code below
      </p>
      <h1 style="
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
            color: #444;
            word-spacing: 30px;
          ">
        {{code}}
      </h1>
      <p style="font-weight: lighter; color: #555; margin-top: 0">
        and paste on your verification page.
      </p>
      <p style="font-weight: lighter; color: #666; margin-top: 0">
        &nbsp;&nbsp;&nbsp;&nbsp; Questions about setting up
        <a href="https://google.com" target="_blank" style="text-decoration: none; color: #15a0dd">Markus ?</a>
        Email us at help@markus.com <br />
        If you didn’t request this email, there’s nothing to worry about — you
        can safely ignore it.
      </p>
    </div>
  </main>
</body>

</html>